<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AMT Automation Aquisition Quotes" verbose="1">
<listeners>
<listener class-name="analyser.RetryListenerClass"></listener>
</listeners>

    <test name="Acquisition_Quotes_Outright_PCH_with_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Outright_PCH_with_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_FL_with_maintenance_edited_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_FL_with_maintenance_edited_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Outright_FL_without_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Outright_FL_without_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_BCH_with_maintenance_edited_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_BCH_with_maintenance_edited_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_BCH_with_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_BCH_with_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_PCH_without_maintenance_edited_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_PCH_without_maintenance_edited_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_FL_without_maintenance_edited_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_FL_without_maintenance_edited_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Outright_PCH_without_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Outright_PCH_without_maintenance_Test" />
		</classes>
	</test>

	<test name="LoginTest">
		<classes>
			<class name="com.amt.test.LoginTest" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Outright_FL_with_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Outright_FL_with_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Outright_BCH_without_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Outright_BCH_without_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_FL_with_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_FL_with_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_FL_without_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_FL_without_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_PCH_without_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_PCH_without_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_BCH_without_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_BCH_without_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Outright_BCH_with_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Outright_BCH_with_maintenance_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_BCH_without_maintenance_edited_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_BCH_without_maintenance_edited_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_PCH_with_maintenance_edited_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_PCH_with_maintenance_edited_Test" />
		</classes>
	</test>

	<test name="Acquisition_Quotes_Broker_PCH_with_maintenance_Test">
		<classes>
			<class name="com.amt.test.Acquisition_Quotes_Broker_PCH_with_maintenance_Test" />
		</classes>
	</test>

</suite>

